.layout {
    flex-grow: 1;
    padding-top: 41px;
    padding-left: 71px;
    padding-right: 71px;
}

.title {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 51px;
}

@media only screen and (max-width: 766px) {
    .layout {
        padding-top: 30px;
        padding-left: 31px;
        padding-right: 31px;
    }
    .title {
        font-size: 16px;
        
    }
}

@media only screen and (max-width: 432px) {
    .layout {
        padding: 30px 31px 0 31px;
    }
    .title {
        font-size: 14px;
        margin-bottom: 30px;

    }
}

@media only screen and (max-width: 390px) {
    .layout {
        padding: 30px 16px 0 16px;
    }
}