.layout {
    flex-grow: 1;
    padding-top: 41px;
    padding-left: 71px;
    padding-right: 71px;
}

.title {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 51px;
}