
.container {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 30px 44px 40px 38px;
    box-sizing: border-box;
    border-radius: 15px;
    filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.50));
    &__containerHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      h1 {
        color: #000;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.22px;
      }
      span {
        color: #16C098;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.14px;
      }
    }
    &__searchBlock {
        form {
            position: relative;
            &::before {
                content: url(../../assets/svg/search.svg);
                position: absolute;
                left: 8px;
                top: 55%;
                transform: translateY(-50%);
            }
            input {
                border: none;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 40px;
                border-radius: 10px;
                background: #F9FBFF;
                &::placeholder {
                    color: rgba(181, 183, 192, 1);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: normal;
                    letter-spacing: -0.12px;
                }
                &:focus {
                    border: none;
                    outline: none;
                }
            }
        }
    }
    .main {
        width: 100%;
        &__membersList {
            ul {
                text-align: left;
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                justify-content: space-between;
                margin: 0 auto;
                margin-block-start: 0px;
                padding-inline-start: 0px;
                margin-top: 40px;
                padding-bottom: 14px;
                border-bottom: 1px solid rgba(238, 238, 238, 1);
                li {
                    color: #B5B7C0;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: -0.14px;
                    text-align: left;
                }
                li:nth-last-child(2) {
                    padding-left: 40px;
                }
                li:last-child {
                    text-align: right;
                    margin-right: 20px;
                }
            }
        }
    }

    
    .users {
        max-width: 968px;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        li {
            padding: 24px 0;
            font-size: 14px;
            border-bottom: 1px solid #EEE;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
        }
        li > div {
            text-align: left;
        }
        li > div:nth-last-child(2) {
            text-align: left;
            padding-left: 40px;
        }
        li > div:last-child {
            text-align: right;
            margin-right: 20px;
        }
    }


    .pagination {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin-top: 20px;
        li {
            display: inline-block;
            margin: 0 12px;
            cursor: pointer;
            a {
                font-size: 12px;
                padding: 5px 9px;
                text-decoration: none;
                border-radius: 4px;
                border: 1px solid #EEE;
                background: #F5F5F5;
                box-sizing: border-box;
            }
        }
      
        .active {
          a {
            background-color: rgba(89, 50, 234, 1);
            color: #fff;
            border: none;
          }
        }
      }
  }
  