.pagination {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    li {
        display: inline-block;
        margin: 0 6px;
        cursor: pointer;
        a {
            font-size: 12px;
            padding: 5px 9px;
            text-decoration: none;
            border-radius: 4px;
            border: 1px solid #EEE;
            background: #F5F5F5;
            box-sizing: border-box;
        }
    }
  
    .active {
      a {
        background-color: rgba(89, 50, 234, 1);
        color: #fff;
        border: none;
      }
    }
}
.Paginate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.DataIfno {
    color: #B5B7C0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
}

.container {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 30px 44px 40px 38px;
    box-sizing: border-box;
    border-radius: 15px;
    filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.50));
    &__containerHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      h1 {
        color: #000;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.22px;
      }
      span {
        color: #16C098;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.14px;
      }
    }
    &__searchBlock {
        form {
            position: relative;
            &::before {
                content: url(../../assets/svg/search.svg);
                position: absolute;
                left: 8px;
                top: 55%;
                transform: translateY(-50%);
            }
            input {
                border: none;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 40px;
                border-radius: 10px;
                background: #F9FBFF;
                &::placeholder {
                    color: rgba(181, 183, 192, 1);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: normal;
                    letter-spacing: -0.12px;
                }
                &:focus {
                    border: none;
                    outline: none;
                }
            }
        }
    }
    .main {
       table {
        font-size: 14px;
        margin-top: 40px;
        border-collapse: collapse;
        text-align: left;
        width: 100%;
        thead {
            tr {
                th {
                    color: #B5B7C0;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: -0.14px;
                }
            }
            th, td {
                padding: 16px 0 16px 0;
                border-bottom: 1px solid #EEE;
                text-align: left;
            }
            th:last-child {
                text-align: center;
            }
        }
        tbody {
            th, td {
                padding: 16px 0px;
                border-bottom: 1px solid #EEE;
                text-align: left;
            }
        }
       }
    }
}

@media only screen and (max-width: 1300px) {
    .main {
        table {
            thead {
                font-size: 10px;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .main{
        table {
            font-size: 12px;
            thead {
                th:nth-child(3) {
                    display: none;
                }
                th:nth-last-child(2) {
                    display: none;
                }
            }
            tbody {
                font-size: 12px;
                td:nth-child(3) {
                    display: none;
                }
                td:nth-last-child(2) {
                    display: none;
                }
            }
        }
    }
    .Paginate {
        flex-direction: column;
    }
}

@media only screen and (max-width: 880px) {
    .main {
        table {
            thead {
                tr {
                    th {
                        font-size: 8px;
                    }
                }
            }
            tbody {
                font-size: 10px;
            }
        }
    } 
}

@media only screen and (max-width: 766px) {
    .container {
        &__containerHeader {
            flex-direction: column;
            gap: 15px;
            h1 {
                font-size: 16px;
            }
            span {
                font-size: 10px;
            }
        }
        &__searchBlock {
            form {
                input {
                    border: none;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    width: 50px;
                    transition: all 0.3s ease-in-out;
                    &::placeholder {
                        font-size: 10px;
                    }
                    &:focus {
                        width: 100px;
                    }
                }
            }
        }
    }
    .Paginate {
        .pagination {
            li {
                margin: 0 3px;
                a {
                    padding: 3px 7px;
                }
            }
        }
        .DataIfno {
            font-size: 10px;
        }

    }
    .main {
        table {
            thead {
                th:nth-last-child(3) {
                    display: none;
                }
            }
            tbody {
                td:nth-last-child(3) {
                    display: none;
                }
            }
        }
    }

}

@media only screen and (max-width: 432px) {
    .container {
        padding: 15px 22px 20px 18px;
    }
}